{% extends "base.html" %}

{% block content %}
{% if account %}
    <ul>
        <li>{{ account.first_name }}</li>
        <li>{{ account.last_name }}</li>
        <li>{{ account.balance }}</li>
    </ul>
{% else %}
    <p>No account information</p>
{% endif %}
{% if organizations %}
{% for organization in organizations %}
    <ul>
        <li>{{ organization }}</li>
    </ul>
{% endfor %}
{% endif %}
    <a href="deposit/">Deposit</a>
    <a href="withdraw/">Withdraw</a>
    <a href="transactions/">View Transactions</a>
    <a href="create_group/">Create Group</a>
{% endblock %}