{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Timestamp</th>
    </tr>
{% for transaction in transactions %}
    <tr>
        <td>{{ transaction.type }}</td>
        {% if transaction.type == "withdraw" %}
        <td>-{{ transaction.amount }}</td>
        {% else %}
        <td>+{{ transaction.amount }}</td>
        {% endif %}
        <td>{{ transaction.timestamp }}</td>    
    </tr>
{% endfor %}
</table>
<a href="{% url 'deposit' %}">Deposit</a>
<a href="{% url 'withdraw' %}">Withdraw</a>
<a href="{% url 'index' %}">View Balance</a>
{% endblock %}