{% extends 'base.html' %}

{% block content %}

{% if invite_member %}
    <form method='post' action='{% url "invite_member" organization.pk organization.name %}'>
        {% csrf_token %}
        {{ form }}
        <button type='submit'>Invite</button>
    </form>
{% endif %}

{% if invite == "fail" %}
    <p>Username not valid</p>
{% elif invite == "success" %}
    <p>User was invited to group</p>
{% endif %}

{% for account in accounts %}
<p>{{account.first_name}} {{account.last_name}}</p>
{% endfor %}
{% endblock %}